/*Geral*/
*{
    box-sizing:border-box;
}


.topbar{
    position: fixed;
    width: 100%;
    box-shadow:0 1px 4px rgba(0, 0, 0, .15);
    background-color: white;
    top:0;
    z-index: 999;
}
.container{
    width: 90%;
    margin: 0 auto; 

}
a{
    text-decoration: none;
}
.menu{
    display: inline-block;
    width: 80%;
    text-align: right;
}
.menu__item {
    display: inline-block;
    text-transform: uppercase;
    list-style: none;
    padding: 5px;
    margin-left: 10px;
}


body{
    font-family: 'Open Sans', Arial, Helvetica;
    color:#4A4A4A;
    margin:0;
}


/*Layout*/
.coluna_1de3{
    display:inline-block;
    width: 33%;
}

.coluna_2de3{
    display:inline-block;
    width: 66%;
    height: 481px;
}

.cabecalho{
    padding-top: 70px;
}
/*Cabeçalho*/
.cabecalho__titulo{
    color:#9013FE;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    font-size: 16pt;
}


/*Seção*/
.conteudo{
    width: 960px;
    margin:0 auto;
}

/*Seção > Dados Autora*/
.autora{
    text-align: center;
    border: 1px solid lightgray;
    padding:20px;
    vertical-align: top;
    height: 481px;
}

.autora h4,autora p{
    margin:0;
}
.autora h4{
    margin-top:10px;
}

/*Seção > Artigo*/
.artigo{
    margin-left: 30px;
    text-align: left;
}

.artigo h1{
    font-size:36px;
    margin-top:0;
}

.artigo p{
    font-size: 24px;
}


/*Rodapé*/
footer{
    text-align: center;
}

footer p{
    margin:0;
    padding:10px 0;
}