/*Geral*/
*{
    box-sizing:border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif
}
body{
    margin:0 auto;
    text-align: center;
}

/*Navegação*/
nav{
    border-bottom: 2px solid grey;
  }
.logo{
    display:inline-block;
    width: 65%;
    text-align: left;
    }
.menu{
    display:inline-block;
    height: 70px;
    vertical-align: middle;
}
a{
    text-align: center;
    text-decoration: none;
}

/*Cabeçalho*/
h1{
    color:#9013FE;
    font-size: 14pt;
    text-align: center;
}

/*Seção*/
section{
    margin:0 auto;
    border: 1px solid grey;
    vertical-align: middle;
}
/*Perfil*/
aside{
    display: inline-block;
    width:208px;
    height: 480px;
    border: 1px solid grey;
}
p{
    font-size: 14pt;
}

/*Conteúdo*/
    main{
        display: inline-block;
        width:600px;
       height: 480px;
    }
/*Título*/
h2{
    font-size: 36 pt;
    text-align: left;
}

